.tableSetting {
    width: 100%;
    height: 85vh;
}

.tableBody {
    width: 100%;
    position: relative;
}

table td {
    padding: 0.5em 0.5em;
    border-left: 1px solid #E6E6E6;
    font-weight: 400;
    font-size: 12px;
}


.tableTopAdd {
    background-color: #5E47D3;
    color: white !important;
}

.tableTopAdd:hover {
    color: white !important;
}

.tableTopSearch {
    border: 1px solid #848FAC;
    opacity: 0.5;
    border-radius: 5px;
    margin-left: auto;
}

.tableTopSearch>input {
    border: none;
    outline: none;
    margin-left: 1em;
}

.tableTopSearch>input::placeholder {
    color: #848FAC;
}

.tableTopSearch>div:nth-of-type(1) {
    top: 0.4em;
    left: 0.5em;
}

.tableTopSearch>button {
    color: #848FAC;
    border-left: 1px solid #848FAC;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 2em;
}

.tableTopSearch>button>div:nth-of-type(1) {
    top: 0.4em;
    left: 0em;
}

.TableHeader {
    background-color: #5E47D3;
    color: white;
    padding: 0.5em 1em;
    border-left: 1px solid #E6E6E6;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

.tableHeaderIcon {
    background-color: #5E47D3;
    color: white;
    cursor: pointer;
    display: block;
    float: right;
}

tr:nth-of-type(2n) {
    background-color: #F9F9F9;
}

.tableActions {
    display: block;
    margin: 0em auto;
    cursor: pointer;
}

.displayUi {
    display: inline-block !important;
    z-index: 100;
}

.tableActionUi {
    display: none;
    background-color: #FFFFFF;
    right: 1.5em;
    top: 0.5em;
    padding: 0.5em 1em;
    border-radius: 8px;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
}

.tableActionUi>div {
    padding: 0.5em 0em;
    cursor: pointer;
}

.tableActionUi>div>p {
    align-self: center;
    margin-left: 1em;
    margin-bottom: 0em;
    font-weight: 700;
}

.addButton {
    display: block;
}


#failedBox {
    z-index: 100;
}

#failedBox::backdrop {
    background: rgb(0 0 0 / 0.4);
}

button:hover {
    color: white;
}

.tableInnerInfo {
    border-radius: 20px;
    border-top: 1px solid white;
    border-left: 2px solid white;
}

.tableInnerInfo:hover {
    border: 1px solid #5E47D3 !important;
    border-top: 1px solid #5E47D3 !important;
    cursor: pointer;
    border-left: 2px solid #5E47D3 !important;
}

.innerTopBox {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
}

.innerTopBox>h2 {
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.descriptContainer {
    padding: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.innerTable {
    width: 100%;
    margin-top: 6em;
    box-sizing: border-box;
}

.innerTable>thead {
    background-color: #5E47D3;
    color: white
}

.innerTable>thead>tr>th {
    padding: 1em 1em;
}

.innerTable>tbody>tr>td {
    padding: 1em 1em;
}